<div class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
  <div class="card-body">
    <div style="color: white;">
      <h4>À propos de TechSouk</h4>
    <h5>Contact</h5>
    <ul >
      <li> Adresse : 123, Rue des Techs, charguia</li>
      <li>Email : TechSouk&copy;gmail.com</li>
      <li> Téléphone : +212 6 12 34 56 78</li>
    </ul></div>

    <p>TechSouk est votre destination en ligne pour les meilleurs produits technologiques à des prix compétitifs.</p>
    <p>&copy; 2024 TechSouk. Tous droits réservés.</p>



  </div>
</div>
