<button class="btn btn-outline-success" (click)="onNavigateToHome()">
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
    <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0m3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z"/>
  </svg> Home
</button>
<form [formGroup]="ajoutform" (ngSubmit)="onSubmit()" novalidate class="form-container">
    <h3>Ajouter un prodit</h3>

    <label for="productId">Identifiant du produit:</label>
    <input type="text" id="productId" formControlName="id"  readonly/>

    <label for="productName">Nom du produit:</label>
    <input type="text" id="productName" formControlName="nom" />

    <label for="productManufacturer">Fabricant:</label>
    <input type="text" id="productManufacturer" formControlName="fabricant" />
    <label for="productManufacturer">photo</label>
    <input type="text" id="productManufacturer" formControlName="photo" />

    <label for="productPrice">Prix:</label>
    <input type="text" id="productPrice" formControlName="prix" />

    <label for="productDescription">Description:</label>
    <input type="text" id="productDescription" formControlName="description" />

    <label for="productWarranty">Garantie du produit:</label>
    <input type="text" id="productWarranty" formControlName="garantie" />

    <label for="productAvailability">Disponibilité:</label>
    <input type="text" id="productAvailability" formControlName="availability" />

    <label for="inStock" class="checkbox-label">en Stock<br>
      <input type="checkbox" id="inStock" formControlName="enStock" /> oui
      <input type="checkbox" id="inStock" formControlName="enStock" /> non
    </label>

    <button type="submit">ajouter</button>
  </form>
