<div class="card shadow-lg" style="width: 18rem;">
    <img [src]="prod.photo" class="card-img-top" alt="img" width="100px" height="200">
    <div class="card-body">
      <h5 class="card-title">{{prod.nom}}</h5>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><strong>prix:</strong>{{prod.prix}} DTPrix</li>
      <li class="list-group-item"><strong>fabricant:</strong>{{prod.fabricant}}</li>
      <li class="list-group-item">@if(prod.disponibilite){
        <strong>Disponible</strong>
      }
      @else {
        n'est pas Disponible
      }
      </li>
    </ul>
    <div class="card-body">
     <button class="btn btn-outline-success" type='button' (click)="OnNavigateToDetailprod(prod.id)">details</button>
     <button class="btn btn-outline-success" type='button' (click)="OnNavigateToModify(prod.id)">Modifier</button>
     <button class="btn btn-outline-danger" type='button' (click)="supprimer(prod.id)">Supprimer</button>
     

    </div>
  </div>



